node_modules/
.vscode/
.DS_Store

# common
packages/*/dist
playground.ts
yarn-error.log
.env*


# interface
packages/interface/.next
packages/interface/next.config.js

# events
packages/events/.data-files
packages/events/.env*
packages/events/.events
packages/events/.build
packages/events/.serverless
packages/events/.webpack